body {
  overflow: hidden;
  background-color: greenyellow;
}

.my-sidebar {
  padding: 1.1%;
  width: 25%;
  height: 100%;
  z-index: 1;
  background-color: rgb(155, 200, 240);
  position: fixed;
  box-shadow: 10px 10px 15px grey;
  border-radius: 1.2%;
}

.map {
  background-color: gray;
  margin-left:25%;
  width: 75% !important;
  height: 95% !important;
}

/* 
.my-timeline {
  padding: 1.1%;
  width: 25%;
  height: 100%;
  z-index: 1;
  background-color: rgb(157, 198, 233);
  position: fixed;
  box-shadow: 10px 10px 15px grey;
  border-radius: 1.2%;
} */


@media screen and (max-width: 662px) {
  .my-sidebar {
   width: 100%;
   height: 35%;
  }
  .map {
    margin: 1em;
    margin-top: 45% !important; 
    width: 100% !important;
    /* height: 0%; */
  }
}