@charset "utf-8";
$siderBarWidth:24.7vw;
body {
    overflow: hidden;
    /* padding: 1em; */

}

.my-sidebar {
    padding: 1.1%;
    margin-top: -1em;
    width: $siderBarWidth;
    height: 100%;
    z-index: 1;
    background-color: rgb(155, 200, 240);
    position: fixed;
    box-shadow: 10px 10px 15px grey;
    border-radius: 1.2%;
    margin-bottom: 4em !important;

}

.nav {
    margin-bottom: 2em;
}

.map {
    /* padding: 15em; */
    margin-top: -1em;
    background-color: blue;
    margin-left: $siderBarWidth+.5;
    width: 60% !important;
    height: 90% !important;
    border-radius: 1.2%;

}

@media screen and (max-width: 662px) {
    .my-sidebar {
        width: 100%;
        height: 35%;
        margin: 0em !important;
    }

    .map {
        margin-top: -11em;
        /* margin-top: 45% !important;  */
        width: 100% !important;
    }
}

.infowindow {
    margin: -1em;
    /* padding: -100px; */
}


@media screen and (min-wifth:600px) {
    .map {
        margin-top: 10em;
        width: 50px;
    }

    .my-sidebar {
        height: 30% !important;
        width: 90%;
    }
}