#my-sidebar {
  padding: 1.1%;
  margin: 0.5em;
  width: 20%;
  z-index: 1;
  background-color: aliceblue;
  position: fixed;
  box-shadow: 10px 10px 15px grey;
  border-radius: 1.2%;
}

#map {
  background-color: gray;
  width: 100px !important;
  height: 60% !important;
}
body {
  overflow: hidden;
  color: #222;
}

#my-timeline {
  z-index: 1;
  margin: 0em;
  position: absolute;
  width: 35vw;
  height: 100vh;
  box-shadow: 10px 10px 15px grey;
  /* background-color: rgb(157, 218, 233); */
}

.my-nav {
  z-index: 1;
  margin-bottom: 3em;
}

/* .info-bar {
  height: 90vh !important;
  width: 40vw !important;
  margin: 0.5em;
  box-shadow: 20 px 20 px 10 px grey;
} */
