#my-sidebar {
  padding: 1.1%;
  margin: 0.5em;
  width: 20%;
  height: 98%;
  z-index: 1;
  background-color: aliceblue;
  /* color: grey; */
  position: fixed;
  box-shadow: 10px 10px 15px grey;
  border-radius: 1.2%;
}

#map {
  background-color: gray;
  margin: -1em;
}
body {
  padding: 1em;
  overflow: hidden;
}
/* @media (max-wi) */

#my-timeline {
  z-index: 1;
  width: 40%;
  height: 100%;
  box-shadow: 10px 10px 15px grey;
  background-color: #222;
}
